<div id="main-show">

<div>
  <h1> <%= @article.title %> </h1>
    <strong>Hosted by:</strong>
    <%= @article.username %>
</div>

<%= @article.eventdate_start %> to <%= @article.eventdate_end %>


<div>
    <%= @article.text %>

</div>

</div>


<h2>Attend this event:</h2>
<%- if user_signed_in? %>
<%= form_for([@article, @article.attends.new]) do |f| %>
      <%= f.hidden_field :attendee, :value => @user.username %>
  <p>
    <%= f.submit %>
  </p>
<% end %><% else %>
  <li><%= link_to t('auth.sign_in'), new_user_session_path %></li>
  <li><%= link_to t('auth.sign_up'), new_user_registration_path %></li>
<% end %>



<h2><%= @article.attends.length %> going</h2>
<%= render @article.attends %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<h2>Comments</h2>
<%= render @article.comments %>




<%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Back', articles_path %>