<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
	<strong>Text:</strong>
	<%= @article.text %>
</p>

<p>
	<strong>Author:</strong>
  	<%= @article.username %>
</p>

<p>
	<strong>Event Date Start:</strong>
  	<%= @article.eventdate_start %>
</p>

<p>
	<strong>Event Date End:</strong>
  	<%= @article.eventdate_end %>
</p>

<h2>Attend this event:</h2>
<%- if user_signed_in? %>
<%= form_for([@article, @article.attends.build]) do |f| %>
      <%= f.hidden_field :attendee, :value => @user.username %>
  <p>
    <%= f.submit %>
  </p>
<% end %><% else %>
  <li><%= link_to t('auth.sign_in'), new_user_session_path %></li>
  <li><%= link_to t('auth.sign_up'), new_user_registration_path %></li>
<% end %>

<h2>Attendees</h2>
<%= render @article.attends %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<h2>Comments</h2>
<%= render @article.comments %>




<%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Back', articles_path %>