<div class="wrapper">
   <header class="header"><h1>Web Dev Club</h1>
<%- if user_signed_in? %>
  <%= link_to 'New event', new_article_path, class: "btn btn-primary" %> 
<% end %></header>
  
   <article class="main">
      <div class="insidediv">

         <% @articles.each do |article| %>
      <div class="oneevent">
      <%= link_to article.title, article_path(article)%><br>
        <%= article.username %><br>
    Event Start: <%= article.eventdate_start %><br>
    Event End: <%= article.eventdate_end %><br>
      </div>    
  <% end %>

      </div>
   </article>
   <aside class="aside aside-1">    <div>
  <%- if user_signed_in? %>
<h3>You're attending the following events</h3>
    <% @attends.each do |attend| %>
      <% @articles.each do |article| %>
          <%- if article.id == attend.article_id %>
              <%= link_to article.title, article_path(article)%><br>
            <%- end %>
      <% end %>    
    <% end %>
    <%- end %>
</div>  </aside>
   <aside class="aside aside-2">
    
</div>
</aside>
<footer class="footer">Thanks for visiting!</footer>
</div>

